/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  margin:33px;
}


.head {
  margin:18px 0;

}

p{
  margin:33px;
}

.notice{
  margin:18px 0;
}

.show{
  width: 500px;
}

.content{
  width:600px;
  display: table;
}

.title{
  display:table-row;

}

.title-cell{
  display:table-cell;
  font-weight: bold;
  padding-bottom:10px;
}

.list-comment{
  display:table-row;
  width:530px;
  margin-left: 70px
}

span{
  margin:15px;
}

.cell{
  display:table-cell
}

.link{
  margin:0 10px;
}

.link-sentence{
  display:inline-block;
  margin-right:17px;
}